* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: #f0eae4;
    /* background-image: url(../src/images/background1.jpg); */
  }
  body > div.content {
    margin: 5% auto 5%;
    max-width: 900px;
  }
  .header {
      display: inline-block;
      font-size: 35px;
      text-align: center;
      background-image: url(../src/images/trip2.jpg);
      /* background-color: rgba(248, 7, 128, 0.05); */
      background-size: 100%;
      background-repeat: no-repeat;
      transition: all 0.5s linear;
      width: 100%;
      height: 400px;
      color: white;
  }
  .header:hover{
      color: #c23564;
  }

  .tabs {
    display: flex;
    position: relative;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }
  .tab-item {
    min-width: 90px;
    padding: 16px 40px 11px 40px;
    font-size: 24px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 10px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
  }
  .tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
    opacity: 1;
  }
  .tab-content {
    padding: 28px 0;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
    margin-top: 10px;
    background-color:rgba(248, 7, 128, 0.05);
    max-width: 900px;
  }
  .tab-pane h2 {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .buImage {
    width: 90%;
    position: relative;
    margin: 10px 0 15px 40px;
    
  }
  .Image {
    width: 95%;
    position: relative;
    margin: 10px 0px 15px 20px;
   
  }
